.bt8{
    border-color: white !important;
    background-color: #570c44 !important;
    color: white !important;
}

.bt9{
    border-color: white !important;
    background-color: #ffffff !important;
    color: #16062e !important;
    font-weight: bold !important; 
}