.text-decorator-none{
    text-decoration: none;
}

.fundo{
    background: linear-gradient(36deg, #16062e 30%, #5e0d4c 88%)!important;
    color:white !important;
}

.fundo2{
    background-color: #39093d !important;
}