.backColor{
    background: linear-gradient(36deg, #16062e 30%, #5e0d4c 88%)!important;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    padding-left: 20px;

}

.text-decorator-none{

    text-decoration: none;
}

.cursor{
    cursor: pointer;
    color: white;
}

.neon{
        font-family: FreeMono, monospace;
        font-size: 40px;
        color: #fff;
        text-align: center;
        text-shadow: 0 0 02px #fff, 0 0 05px #fff, 0 0 05px #23053f, 0 0 10px #23053f, 0 0 15px #23053f, 0 0 20px #23053f, 0 0 25px #23053f;
      }

.bColor{
        cursor: pointer;
        color: white;
        display: flex;
        justify-content: center;
        padding-left: 610px;
}

.bkColor{
    background: #16062e !important;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-left: 20px;

}
    