.text-decorator-none{

    text-decoration: none;
}

.textos1{
    font-weight: bold !important;
}

.imagem{
    background-image: url(https://i.imgur.com/d8gABJi.jpg);
    background-repeat: no-repeat; 
    width: 100vh;
    min-height: 100vh; 
    background-size: cover;
     background-position: center;
}

.botao2{
    border-color: white !important;
    background-color: #16062e !important;
    color: white !important;
}