.home2{
    background-image: url("../../assets/caminho.jpg");
    background-repeat: no-repeat;
    width: 100vw;
    min-height: calc(110vh - 64px);

    background-size: cover;
    background-position: center;
}

.titulo{
    color: white !important; 
    font-weight: bold !important; 
    font-family: FreeMono, monospace;
    
}

.botao{
     border-color: white !important;
     background-color: #16062e !important;
     color: white !important;
}

.postagens{
    background-color: white !important;
}

.text-decorator-none{
    text-decoration: none;
}